nav{
    text-align: center;   
    margin: 20px;
    padding: 5px;
    color: azure;
}

a:link{
    color:azure;
}
a:hover{
    color:rgba(40, 174, 236, 0.842);
}
a:visited{
    color: azure;
}
a:active{
    color: azure;
}

body{
    background-color: rgb(240, 240, 240);
    font-family: 'Open Sans';
    
}
#nav_h1{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
    text-align: center;
    
    color:azure;
}

footer{
    text-align: center;
}

#imagenes{
    text-align: center;

}

.div_lorem{
    width: 50%;
    float: left;
}
.div_lorem p {
    padding: 50px
}

.card{
    width: 18rem;
    transition: width 0.3s ease-in-out;
}

.evento:hover{
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}